
@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";

.chart {
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey,
    0 1px 8px 0 $shadow-dark-grey;
  margin: 16px 24px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 8px;

    @media (max-width: $small) {
      flex-wrap: wrap;
    }
  }

  &__title {
    margin: 0;
    display: flex;
    align-items: center;
    color: $grey;
    font-weight: $fw-normal;
    font-size: $fs-regular;
    text-transform: none;
    line-height: 1.6;
    letter-spacing: 0.12px;
    order: 1;
  }

  &__content {
    height: 380px;
    width: 100%;
    @media (max-width: $small) {
      overflow-x: scroll;
    }
  }

  &__content-item {
    @media (max-width: $small) {
      width: 600px;
    }
  }

}

.yellow {
  background-color: $yellow;
}

.blue {
  background-color: $blue;
}

.light-blue {
  background-color: $white-blue;
}


.value {
  font-weight: $fw-normal;
  font-size: 16px;
  text-align: center;
}

.message{
  margin-top: 50px;
  text-align: center;
  font-weight: $fw-normal;
    font-size: $fs-regular;
    color: $grey;
}

.slider {
  margin: 10px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

}
.mat-slide-toggle-thumb {
  height: 10px;
  width: 10px;
}
.mat-slide-toggle-bar {
  height: 7px;
  width: 28px;
}
