@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";

.mat-list-base {

  border-bottom: 1px solid $gray-80;


  & .mat-list-item {
    margin: 10px 15px 0;
    display: flex;
    cursor: pointer;
    color: $sidebar-font-color;
    width: auto;
    padding-left: 4px;
    border-radius: 3px;
    &.active {
      color: white;
      background-color:#28365f;
      outline: none;
      box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px  RGB(41,44,95 / 40%);

      & .mat-icon {
        color:white;
      }

      & .circle {
        background-color: $sidebar-icon-color-active;
      }
    }

    &:hover {
      background-color: $sidebar-background-color-hover;
    }

    &:focus {
      outline: none;
    }
  }
}

.mat-icon {
  margin-right: 15px;
  color: $sidebar-icon-color;
}

.title {
padding: 20px 0;
  color: $sidebar-title-color;
  font-size: 20px;
  text-transform: uppercase;
  margin:0px;
  text-align: center;
  color: #28365f;
}
.sidebar-title {
  color: $sidebar-title-color;
  font-size: $fs-normal;
  text-transform: uppercase;
  margin-top: 32px;
  margin-left: 24px;
  margin-bottom: 16px;
}

.mat-list-base .mat-list-item.ui-element {
  padding-left: 40px;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $sidebar-circle-color;
  margin-right: 30px;
}

.project-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 8px;

  &_yellow {
    background-color: $yellow;
  }

  &_blue {
    background-color: $blue;
  }

  &_pink {
    background-color: $pink;
  }
}
