<p class="title">Welcome Home</p>

<mat-list>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon> Dashboard
  </mat-list-item>
  <mat-list-item routerLink="{{routes.PROFILE}}"  routerLinkActive="active">
    <mat-icon>person</mat-icon> Employee Profile
  </mat-list-item>

  <mat-list-item routerLink="{{routes.HEALTHSTATUS}}"  routerLinkActive="active">
    <mat-icon>text_fields</mat-icon> Health Status
  </mat-list-item>
  <mat-list-item routerLink="{{routes.WORKSTATUS}}"  routerLinkActive="active">
    <mat-icon>text_fields</mat-icon> Work Status
  </mat-list-item>
  <mat-list-item routerLink="{{routes.TABLES}}" routerLinkActive="active">
    <mat-icon>border_all</mat-icon> Employee Table
  </mat-list-item>
  <mat-list-item routerLink="{{routes.SEARCH}}" routerLinkActive="active">
    <mat-icon>manage_accounts</mat-icon> Search Replacement
  </mat-list-item>
  <mat-list-item routerLink="{{routes.NOTIFICATION}}" routerLinkActive="active">
    <mat-icon>notifications_none</mat-icon> Notification
  </mat-list-item>

</mat-list>

<p class="sidebar-title">supp</p>

<mat-list>
  <mat-list-item>
    <mat-icon>library_books</mat-icon> Library
  </mat-list-item>
  <mat-list-item>
    <mat-icon>question_answer</mat-icon> Support
  </mat-list-item>
  <mat-list-item>
    <mat-icon>help_outline</mat-icon> FAQ
  </mat-list-item>
</mat-list>

<p class="sidebar-title">Projects</p>

<mat-list>
  <mat-list-item> <div class="project-circle project-circle_yellow"></div> My resend </mat-list-item>
  <mat-list-item> <div class="project-circle project-circle_blue"></div> Starred</mat-list-item>
  <mat-list-item> <div class="project-circle project-circle_pink"></div> Background </mat-list-item>
</mat-list>
