@import "src/app/styles/variables";
@import "src/app/styles/colors";

.layout {
  width: 100%; max-height: 100%;bottom: 0px;
top: 0px; position: fixed;
}

.layout-sidebar {



  @media (max-width: $small) {
    width: 218px;
  }
}

.layout-content {
  background-color: $background-color;

  @media (max-width: $small) {
    width: 100%;
  }
}
