@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";

.chart {
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey,
    0 1px 8px 0 $shadow-dark-grey;
  margin: 16px 24px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 8px;

    @media (max-width: $small) {
      flex-wrap: wrap;
    }
  }

  &__title {
    margin: 0;
    display: flex;
    align-items: center;
    color: $grey;
    font-weight: $fw-normal;
    font-size: $fs-regular;
    text-transform: none;
    line-height: 1.6;
    letter-spacing: 0.12px;
    order: 1;
  }

  &__content {
    width: 100%;
    @media (max-width: $small) {
      overflow-x: scroll;
    }
  }

  &__content-item {
    @media (max-width: $small) {
      width: 600px;
    }
  }
  &__button {
    margin: 20 px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 30%;


  }
}

.yellow {
  background-color: $yellow;
}

.blue {
  background-color: $blue;
}

.light-blue {
  background-color: $white-blue;
}

.slider {
  width: 100%;
}
.value {
  font-weight: $fw-normal;
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}
.box{
height: max-content;
}
.row {
  display: flex;
}
.image {
  margin: 20px;
  width: 50px;
  height: 50px;
}
