<mat-toolbar class="page-header" role="heading">
  <h1>Health Status</h1>
</mat-toolbar>

<div class="chart">
  <div class="chart__header">
    <p class="chart__title">Are you physically overburdened ?</p>
  </div>
  <div class="chart__content">
    <div class="row">
      <div><img src="/assets/img/phy.png" class="image" /></div>
      <div class="slider">
        <app-slider (healthvalue)="SethealthValuePhy($event)"></app-slider>
      </div>
      <div>  <img src="/assets/img/pain.png" class="image" /> </div>
    </div>
    <br />
    <br />

    <div class="value">Daily Value: {{ healthvaluePhy }}</div>
    <br />
    <br />
  </div>
  <div class="chart__header">
    <p class="chart__title">Are you mentally overburdened ?</p>
  </div>
  <div class="chart__content">
    <div class="row">
      <div><img src="/assets/img/positive.png" class="image" /></div>
    <div class="slider">
      <app-slider (healthvalue)="SethealthValuePsy($event)"></app-slider>
    </div>
    <div><img src="/assets/img/negative.png" class="image" /></div>
    </div>
    <br />
    <br />

    <div class="value">Daily Value: {{ healthvaluePsy }}</div>
  </div>
  <br />
  <br />
  <p>
    <button
      class="chart__button"
      mat-raised-button
      color="primary"
      (click)="submit()"
    >
      submit
    </button>
  </p>
  <br />
  <br />

  <br />
  <br />

  <div>
    <app-value-table [reload]="parentreload"></app-value-table>
  </div>
</div>
